/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.bluebackground {
	-fx-background-color:linear-gradient(from 50% 0% to 50% 100%, #b2ffe5 0%, #cbffed 40%);
}
.button {
	-fx-background-color:#ffffb2;
}
.button:hover {
	-fx-background-color:#ffff99;
}
.button:pressed {
	-fx-background-color:#ffff7f;
}
.progress-bar {
	-fx-focus-color: transparent;
	-fx-accent: #dfe3ef;
}
.progress-bar > .track {
	-fx-background-color: transparent;
}
.progress-bar > .bar {
    -fx-background-insets: 1 1 1 1;
    -fx-padding: 0.20em;
}
/*.text */