/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.bluebackground {
	-fx-background-color:linear-gradient(from 50% 0% to 50% 100%, #b2ffe5 0%, #ffffcc 15%);
}
.darkbluebackground {
	-fx-background-color:#a5ffe0;
}
.button {
	-fx-background-color:#ffffb2;
}
.button:hover {
	-fx-background-color:#ffff99;
}
.button:pressed {
	-fx-background-color:#ffff7f;
}
 .combo-box {
	-fx-background-color:#ffffb2;
}
.combo-box:hover {
	-fx-background-color:#ffff99;
}
.combo-box:pressed {
	-fx-background-color:#ffff7f;
}
.bar-chart .chart-plot-background {
	-fx-background-color:transparent;
	-fx-horizontal-grid-lines-visible:0;
	-fx-vertical-grid-lines-visible:0;
	-fx-horizontal-zero-line-visible:0;
	-fx-vertical-zero-line-visible:0;
}